absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.13
antlr4-python3-runtime==4.8
anyascii==0.3.2
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
argcomplete==3.0.8
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
arrow==1.2.3
arxiv==1.4.7
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
audioread==3.0.0
babel==2.12.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
bangla==0.0.2
beautifulsoup4==4.12.2
bibtexparser==1.4.0
bitarray==2.7.3
bleach==6.0.0
blinker==1.6.2
blis==0.7.9
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.1
boto3==1.28.18
botocore==1.31.18
brotlipy==0.7.0
cachetools==5.3.0
catalogue==2.0.8
certifi==2023.7.22
cffi==1.15.0
charset-normalizer==3.1.0
click==8.1.4
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.3
confection==0.1.0
contourpy==1.1.0
coqpit==0.0.17
cryptography==41.0.1
cycler==0.11.0
cymem==2.0.7
cython==0.29.28
dataclasses==0.8
datasets==2.12.0
dateparser==1.1.8
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
deprecated==1.2.14
diffusers==0.17.1
dill==0.3.6
distance==0.1.3
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.18.1
einops==0.6.1
exceptiongroup==1.1.1
execnb==0.1.5
executing==1.2.0
fairseq==0.12.2
fake-useragent==1.1.3
fastai==2.7.12
fastcore==1.5.29
fastdownload==0.0.7
fastjsonschema==2.16.3
fastprogress==1.0.3
feedparser==6.0.10
filelock==3.12.0
flask==2.3.2
fonttools==4.40.0
fqdn==1.5.1
free-proxy==1.1.1
frozenlist==1.3.3
fsspec==2023.4.0
g2p-en==2.1.0
g2pkk==0.1.2
gdown==4.7.1
ghapi==1.0.3
gitdb==4.0.10
gitpython==3.1.32
gmpy2==2.1.2
google-auth-oauthlib==1.0.0
google-auth==2.18.1
grpcio==1.54.2
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut==2.2.3
gym-notices==0.0.8
gym==0.26.2
h11==0.14.0
h5py==3.8.0
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.14.1
hydra-core==1.0.7
hyperpyyaml==1.2.0
idna==3.4
imagesize==1.4.1
importlib-metadata==6.6.0
inflect==5.6.0
iniconfig==2.0.0
install==1.3.5
ipykernel==6.22.0
ipython-genutils==0.2.0
ipython==8.12.0
ipywidgets==8.0.6
isoduration==20.11.0
itsdangerous==2.1.2
jamo==0.4.1
jedi==0.18.2
jieba==0.42.1
jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.0
jsonlines==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter-client==8.2.0
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-core==5.3.0
jupyter-events==0.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-nbextensions-configurator==0.6.1
jupyter-server-terminals==0.4.4
jupyter-server==2.5.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
kaldiio==2.18.0
kiwisolver==1.4.4
langcodes==3.3.0
lazy-loader==0.2
librosa==0.10.0
llvmlite==0.40.1
lxml==4.9.2
markdown-it-py==3.0.0
markdown==3.4.3
markupsafe==2.1.2
matplotlib-inline==0.1.6
matplotlib==3.7.2
mdurl==0.1.0
mecab-python3==1.0.5
miniai==0.0.1
mistune==2.0.5
mpmath==1.3.0
msgpack==1.0.5
multi-armed-bandit==0.1
multi-armed-bandits==0.1
multidict==6.0.4
multiprocess==0.70.14
munkres==1.1.4
murmurhash==1.0.9
mypy-extensions==1.0.0
nbclassic==0.5.6
nbclient==0.7.4
nbconvert==7.3.1
nbdev==2.3.12
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
noisereduce==2.0.1
notebook-shim==0.2.3
notebook==6.5.4
num2words==0.5.12
numba==0.57.1
numpy==1.23.5
oauthlib==3.2.2
omegaconf==2.0.6
outcome==1.2.0
packaging==23.1
pandas==2.0.1
pandocfilters==1.5.0
parso==0.8.3
pathtools==0.1.2
pathy==0.10.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.4.0
pip==23.2.1
platformdirs==3.4.0
pluggy==1.0.0
pooch==1.6.0
portalocker==2.7.0
preshed==3.0.8
progressbar==2.5
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==4.23.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.0
pyasn1-modules==0.3.0
pyasn1==0.5.0
pycparser==2.21
pydantic==1.10.10
pydub==0.25.1
pygame==2.5.0
pygments==2.15.1
pynndescent==0.5.10
pyopenssl==23.2.0
pyparsing==3.0.9
pypinyin==0.48.0
pyre-extensions==0.0.30
pyrsistent==0.19.3
pysbd==0.3.4
pysocks==1.7.1
pytest==7.3.2
python-crfsuite==0.9.9
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
pytz-deprecation-shim==0.1.0.post0
pytz==2023.3
pyworld==0.3.3
pyyaml==6.0
pyzmq==25.0.2
regex==2023.5.4
requests-oauthlib==1.3.1
requests==2.31.0
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.2
rl-algorithms==0.1
rotary-embedding-torch==0.2.2
rsa==4.9
ruamel.yaml.clib==0.2.7
ruamel.yaml==0.17.22
s3transfer==0.6.1
sacrebleu==2.3.1
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.11.1
selenium==4.10.0
send2trash==1.8.2
sentencepiece==0.1.99
sentry-sdk==1.29.2
setproctitle==1.3.2
setuptools==65.6.3
sgmllib3k==1.0.0
shellingham==1.5.1
simple-gridworld==0.1
six==1.16.0
smart-open==5.2.1
smmap==3.0.5
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.4.1
soxr==0.3.5
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy==3.5.4
speechbrain==0.5.14
sphinx-rtd-theme==1.2.2
sphinx==6.2.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
srsly==2.4.6
stack-data==0.6.2
sympy==1.12
tabulate==0.9.0
tensorboard-data-server==0.7.0
tensorboard==2.13.0
tensorboardx==2.6
terminado==0.17.1
tgt==1.4.4
thinc==8.1.10
threadpoolctl==3.1.0
timm==0.9.2
tinycss2==1.2.1
tokenizers==0.13.3
tomli==2.0.1
tomlkit==0.11.8
torch==2.0.1
torchaudio==2.0.1
torcheval==0.0.6
torchtnt==0.1.0
torchvision==0.15.2
tornado==6.3
tortoise==2.4.2
tqdm==4.65.0
trainer==0.0.20
traitlets==5.9.0
transformers==4.28.1
trio-websocket==0.10.3
trio==0.22.1
tts-0==0.0.1
tts==0.13.3
typer==0.9.0
typing-extensions==4.5.0
typing-inspect==0.8.0
tzdata==2023.3
tzlocal==4.3
umap-learn==0.5.1
unicodedata2==15.0.0
unidecode==1.3.6
unidic-lite==1.0.8
uri-template==1.2.0
urllib3==1.26.15
wandb==0.15.7
wasabi==1.1.2
watchdog==3.0.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
werkzeug==2.3.3
wheel==0.40.0
widgetsnbextension==4.0.7
wrapt==1.15.0
wsproto==1.2.0
xmltodict==0.13.0
xxhash==3.2.0
yarl==1.9.2
yq==3.2.2
zipp==3.15.0